<div>
  <%= image_tag 'budgie-logo.png', id: 'logo' %>
  <%= link_to 'LOG IN', new_user_session_path, id: 'login-link' %>
  <%= link_to 'SIGN UP', new_user_registration_path, id: 'signup-link' %>
</div>
