<div>
  <%= link_to '<', root_path %>
  <h1 class="font-bold text-4xl">OPERATIONS</h1>
  <div>Total Spent: $<%= @category.total %></div>
  <ul>
    <% @operations.each do |operation| %>
      <li>
        <%= operation.name %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add a new operation', new_category_operation_path(@category) %>
</div>
